@use 'util' as u;

.search {
  padding-top: u.rem(80);
  padding-bottom: u.rem(100);

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: u.rem(500);
  }

  &__input {
    width: 100%;
    font-size: u.rem(12);
    line-height: u.rem(18);
    font-weight: 400;
    padding: u.rem(10);
  }

  &__btn {
    outline: none;
    cursor: pointer;
    font-size: u.rem(12);
    line-height: u.rem(18);
    margin-left: u.rem(-95);
    height: u.rem(30);
    width: u.rem(90);
    color: white;
    border-radius: 7%;
    border: none;
    background-color: var(--secondary-background-color);

    @include u.breakpoint-down(xsmall) {
      margin-left: u.rem(-57);
    }
  }
}
