@use "../util" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: #efefef;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 80%;
  max-width: u.rem(1200);
  margin: 0 auto;
}
