@use '../util' as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$font;
  background-color: #efefef;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 80%;
  max-width: u.rem(1200);
  margin: 0 auto;
}

.loader {
  margin: 0 auto;
}

.fade-in {
  animation: ease 1s fadeIn;
  -webkit-animation: ease 1s fadeIn;
  -moz-animation: ease 1s fadeIn;
  -o-animation: ease 1s fadeIn;
  -ms-animation: ease 1s fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
