:root {
    --primary-background-color: #aeaeae;
    --secondary-background-color: #C1557B;
    --teriary-background-color: #5D8A2B;
    --primary-text-color: white;
    --secondary-text-color: black;
    --tertiary-text-color: #D3E10E;
}

