:root {
  --primary-background-color: #aeaeae;
  --secondary-background-color: #c1557b;
  --teriary-background-color: #5d8a2b;
  --primary-text-color: white;
  --secondary-text-color: black;
  --tertiary-text-color: #d3e10e;
  --dark-txt: #383838;
}
